:root {
    --navy: #15364a;
    --green: #456c57;
    --rust: #b95c3b;
    --cream: #f7f5f0;
    --white: #ffffff;
}

/* GENERAL WEBSITE STYLING */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--cream);
    color: var(--navy);
}
